$fuente_principal: "Montserrat", sans-serif;

// colores 

$negro: #000000;
$amarillo: #fff500;
$blanco: #ffffff;
$loginfondo: #272727;
$logotexto: #333333;
$login: #dab70e;
$enlacesinicio: #e7c611;

// Media queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;

